* {
    margin: 0;
    padding: 0;
}

#vanta-waves {
    width: 100%;
    height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.err-header{
    color: #F16B73;
}

ul.errorlist{
    list-style-type: none;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}

.form-home{
    padding-top: 50px;
}